---
title: About
permalink: "/about"
layout: page
heroImg: "img/new-insights.jpeg"

---
{% include navbar.html %}
{% include pageHeader.html %}

<section id="aboutSection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mission">
          <h2>Our Mission</h2>
          <h2>"Connecting Customers to the right product every time"</h2>
        </div>

        <h3>About us</h3>
        <p>Here at mypropertyinsights we believe in matching customers to the best services, based on your needs.</p>
        <p>Who has time to be an expert in every market/industry that is used in our daily lives?</p>
        <p>We aim to understand your specific needs and by using our insider knowledge, match you to the best product at the right moment.</p>

        <h3>Our Story</h3>
        <p>Two lifelong friends from a small village in Yorkshire moved on to build careers in completely contrasting industries. During a weekly catch-up over coffee (local favorite Foundation Coffee House Lever St Manchester) a heated debate
          initiated over why businesses in 2018 can’t reach their ideal customers without the need to use aged methods like cold calling or spam e-mails and that the general public should be able to utilize expert knowledge and be part of a more
          personalized experience.</p>
      </div>
    </div>
  </div>
</section>
