---
title: My Valuation
permalink: "/dashboard"
layout: valuation
---
{% include navbar.html %}

<div class="container-fluid">
      <div class="row">
        {% include dashboard-sidebar.html %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">



        </main>
        <div class="mobileMenuVal d-sm-none">
          <div class="menuBody animated slideInRight fast">
            <ul class="nav md-tabs flex-column">
              <li class="nav-item z-depth-2">
                <span class="mobMenuLabel">Valuation</span>
                <a class="nav-link active" data-name="valuation" href="#"><i class="fas fa-pound-sign"></i></a>
              </li>
              <li class="nav-item z-depth-2">
                <span class="mobMenuLabel" style="width: 160px;">Find Estate Agents</span>
                <a class="nav-link" href="#" data-name="estate-agent" id="findEAgent"><i class="fas fa-search"></i></a>
              </li>
              <li class="nav-item z-depth-2">
                <span class="mobMenuLabel">Calculators</span>
                <a class="nav-link" href="#" data-name="calculators"><i class="fas fa-calculator"></i></a>
              </li>
              <li class="nav-item z-depth-2">
                <span class="mobMenuLabel">Explore Area</span>
                <a class="nav-link" href="#" data-name="area"><i class="far fa-map"></i></a>
              </li>
              <!-- <li class="nav-item z-depth-2">
                <span class="mobMenuLabel">Checklist</span>
                <a class="nav-link" href="#" data-name="checklist"><i class="fas fa-pencil-alt"></i></a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="menuFab d-md-none"><a class="btn-floating z-depth-1"><i class="fas fa-ellipsis-h"></i></a></div>
      </div>
    </div>
