<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Got a question for us?</h2>
      <p>Feel free to get in touch with the team here at mypropertyinsights, we don't bite.</p>
      <p>Have you got your free property valuation yet?</p>
      <a class="btn btn-primary" href="{{ site.url }}">Start now!</a>
    </div>
    <div class="col-12 col-md-6">
      <form id="contactForm">
        <div class="form-group">
          <label for="contactFirstName">First name</label>
          <input type="text" class="form-control" id="contactFirstName" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="contactSurname">Last name</label>
          <input type="text" class="form-control" id="contactSurname" placeholder="Last name">
        </div>
        <div class="form-group">
          <label for="contactEmail">Email address</label>
          <input type="email" class="form-control" id="contactEmail" placeholder="Your email address">
        </div>
        <div class="form-group">
          <label for="contactMessage">Your message</label>
          <textarea class="form-control" id="contactMessage" rows="3"></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="contactConsent">
          <label class="form-check-label" for="contactConsent">
            <p class="small">I agree and allow mypropertyinsight to process my data in order to respond to my message.</p>
          </label>
        </div>
        <button id="contactSubmit" class="btn btn-primary" type="submit">Contact</button>
      </form>
    </div>
  </div>
</div>
