<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <div class="addressBlock">
      <h4>Your Property Report</h4>
      <p id="addLine1"></p>
      <p id="addLine2"></p>
      <p id="addLine3"></p>
      <p id="town"></p>
      <p id="postcode"></p>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" data-name="valuation" href="#"><i class="fas fa-pound-sign"></i> Valuation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-name="estate-agent" id="findEAgent"><i class="fas fa-search"></i> Find an Estate Agent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-name="calculators"><i class="fas fa-calculator"></i>  Calculators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-name="checklist"><i class="fas fa-pencil-alt"></i>  Checklist</a>
      </li>
    </ul>
  </div>
</nav>
