<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <div class="addressBlock">
      <h4>Your Property Report</h4>
      <p id="addLine1"></p>
      <p id="addLine2"></p>
      <p id="addLine3"></p>
      <p id="town"></p>
      <p id="postcode"></p>
      <a href="" class="emailVal waves-effect"><i class="fas fa-envelope"></i> Share Dashboard</a>
      <p class="small mt-1">All prices are based on information gathered from the average sold prices in your area</p>
    </div>
    <ul class="nav md-tabs flex-column">
      <li class="nav-item">
        <a class="nav-link btn btn-block active" data-name="valuation" href="#"><i class="fas fa-pound-sign"></i> Valuation<i class="fa fa-angle-right"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-block" href="#" data-name="estate-agent" id="findEAgent"><i class="fas fa-search"></i> Find an Estate Agent<i class="fa fa-angle-right"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-block" href="#" data-name="calculators"><i class="fas fa-calculator"></i>  Calculators<i class="fa fa-angle-right"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-block" href="#" data-name="area"><i class="far fa-map"></i>  Explore Area<i class="fa fa-angle-right"></i></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link btn btn-block" href="#" data-name="checklist"><i class="fas fa-pencil-alt"></i>  Checklist<i class="fa fa-angle-right"></i></a>
      </li> -->
    </ul>
  </div>
</nav>
