<div class="container">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-12 col-md-4">
      <a class="card" href="{{site.url}}{{post.url}}"">
        <img class=" card-img-top" src="{{site.url}}/{{post.thumbnail_image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.excerpt}}</p>
          <p class="card-text"><small class="text-muted">{{post.date | date_to_long_string}}</small><span class="card-link">Read more</span></p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
