<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-pound-sign m-auto text-primary"></i>
          </div>
          <h3>Free</h3>
          <p class="lead mb-0">Our service is completely free. If you decide to choose to market our property with one of our recommendations we charge the agent a small fee for the connection.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-info m-auto text-primary"></i>
          </div>
          <h3>Instant Valuation</h3>
          <p class="lead mb-0">Genuinely instant, unlike the majority of online valuation services we deliver your report through the web browser in less than 30 seconds.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-bolt  m-auto text-primary"></i>
          </div>
          <h3>Keeping You Informed</h3>
          <p class="lead mb-0">We assist in making an educated and informed decision not only will you receive a valuation figure, you’ll see estimated estate agent fee, average time your property may need to be on the market and different benefits each agent specializes in.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-bolt  m-auto text-primary"></i>
          </div>
          <h3>Property Selling Tips</h3>
          <p class="lead mb-0">With our finger on the pulse of the UK property industry, check out our news and insights blog for the latest insider advice to selling.</p>
        </div>
      </div>
    </div>
  </div>
</section>
