<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <form id="mainLeadForm" class="animated fadeInUp">
        <div class="row">
          <div class="col-12">
            <section id="leadSecOne">
              <h2>Step 1. About Your Property</h2>

              <div class="input-group mb-3">
                <input type="text" class="form-control" id="postCodeInput" aria-label="Enter Post Code" aria-describedby="postCodeInput" placeholder="Post Code">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary waves-effect m-0 px-3" type="button" id="find-button2">Search</button>
                </div>
                <div id="successStatus"></div>
              </div>
              <div class="form-group mdb-select">
                <div id="lookup_field"></div>
              </div>

              <div class="form-group" id="selectedAddress">
                <div class="">
                  <label for="first_line">Address Line One</label>
                  <input class="form-control" id="first_line" type="text">
                </div>
                <div class="">
                  <label for="second_line">Address Line Two</label>
                  <input class="form-control" id="second_line" type="text">
                </div>
                <div class="">
                  <label for="third_line">Address Line Three</label>
                  <input class="form-control" id="third_line" type="text">
                </div>
                <div class="">
                  <label for="post_town">Town/City</label>
                  <input class="form-control" id="post_town" type="text">
                </div>
                <div class="">
                  <label for="postcode">Postcode</label>
                  <input class="form-control" id="postcode" type="text" data-validation="required" data-validation-error-msg="Please enter a Post Code">
                </div>
                <input id="longitude" type="text">
                <input id="latitude" type="text">
              </div>

            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <section id="leadSecTwo">


              <h2>Step 2. About You</h2>
              <div class="">
                <label for="staticEmail" class="">Email</label>
                <input type="email" id="staticEmail" name="firstName" class="form-control" data-validation="email" data-validation-error-msg="Please enter a valid email address" placeholder="Email Address">

              </div>


              <div class="mb-0">
                <label for="firstName" class="">First name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" data-validation="required" data-validation-error-msg="Please enter your name" placeholder="First Name">

              </div>


              <div class="mb-0">
                <label for="lastName" class="">Last name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" data-validation="required" data-validation-error-msg="Please enter your name" placeholder="Last Name">

              </div>
              <div class="gdpr">
                <p class="small">By clicking Get my report you agree to our <a href="{{site.url}}/terms" target="_blank">terms of use</a></p>
              </div>
              <button type="submit" id="mainLeadFormSubmit" class="btn btn-primary" disabled>Get my report</button>
            </section>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
